<!-- JOEY -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Child's Requested Jobs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <title>Child's Requested Jobs</title>
</head>
<body>
    <h1 class=text-center>Requested Jobs</h1>
    <div class="text-right">
        <a href="/signup">Login/SignUp</a>
    </div>
    <br>      

    <div id="div1">what i like</div>
        
    <form action="button" id="buttons" class="text-center">
     <button type="button" class="btn btn-primary btn-sm">Small button</button>
        
    </form>
</body>
</html>