<!-- joey -->
<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <link rel="stylesheet" href="../public/css/main.css">
   <title>Job Creator</title>
</head>
<body>
   <h1>Create a Job</h1>
      <form element id=form>
       Job Title:  <input type="text" name="jobTitle"><br>
       <br>
       Job Description: <input type="text" rows="4">
   </form>
   <br>
   <br>
   <br>
   <br>
   <br>
   <form>
       <input type="radio" name="JobType" value="Lawncare" checked> Lawncare<br>
       <input type="radio" name="JobType" value="Babysitting"> Baby siting<br>
       <input type="radio" name="JobType" value="Transportation"> Transportation
   </form>
</body>
</html>