<!-- joey -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <title> Jungle </title>
</head>
<body>
    <form action="">
        <div class="navbar-nav-scroll">
                <nav class="navbar navbar-expand-lg navbar-white ht bg-white">
                           <img id="pic" src="pi.png">
                           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                             <span class="navbar-toggler-icon"></span>
                           </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                             <div class="navbar-nav">
                               <a class="nav-item nav-link active" href="/home">Home <span class="sr-only">(current)</span></a>
                               <a class="nav-item nav-link" href="profile">Profile</a>
                               <a class="nav-item nav-link" href="createjob">Create a Job</a>
                               <a class="nav-item nav-link" href="/logout">Logout</a>
                           </div>
                       </div>
                </nav>
           </div>
    </form>

      <div id="div2"class="text-center">
          <h2>Available Jobs</h2>
          <br>
          <br>
        <% for(let i=0; i< Jobs.length; i++) { %>
          <h3> <%= Jobs[i].title %></h3>
          
          <a href="/singlejob/<%= Jobs[i].id %>"><img src="<%= Jobs[i].avatar %>"></a>
          <br>
          <%= Jobs[i].description %>
        <% } %>


  
      </div>
  </body>
</html>