<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <title>Register</title>
</head>
<body>
    <form action="/signup" method="POST" class="text-center">
        <h10 class="display-3">Jungle</h10>
        <h1 class="mt-5 text-center">Sign Up</h1><br> 
         <h2 class="display-5 text-center ">Name</h2>
         <div class="display-5 text-center">
             <input name="name" type="text" class=" mt-1 mb-4 text-center" placeholder="First and Last" aria-label="First" aria-describedby="basic-addon1" required>
         </div> 
        <h9 class="mt-5">Birthday</h9><br>
        <input name="dob" type="date" name="bday" required><br>
     <h4 class="display-5 mt-4">Email</h4>
         <div class='form-group'>
             <input name="email" input type="text" class=" mt-1 mb-4 text-center" placeholder="Email" aria-label="Email" aria-describedby="basic-addon1" required> 
         </div>
     <h6>Password</h6>
             <input name="password" type="password" class=" mt-1 mb-5 text-center" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" required><br>
     <h7>Address</h7><br>
         <input name="address" type="text" class=" mt-1 mb-3 text-center" placeholder="Address" aria-label="Password" aria-describedby="basic-addon1" required><br>
     <h8>Phone Number</h8><br>
        <input name="phone" type="text"  class=" mt-1 mb-3 text-center" placeholder="Phone number" aria-label="Phonenumber" aria-describedby="basic-addon1" required><br>   
        <input type="checkbox" required>
        <a href="/toa" >terms of agreement</a>
        <br>
    <h9>Avatar</h9><br>
        <input type="file" name="avatar" class="text-center mb-3" placeholder="Avatar" accept="image/png image/jpeg">
        <br><button type="submit">Create your account</button>
        <br><p class="text-center mt-3">Already have an account? Sign in <a href="/login">here</a>.</p>
    </form>
</body>
</html>
