body {
    background-color: white;
}

.mtn {
    background-color: rgb(83, 74, 74);
}


#div1 {
    margin: 25px;
    width: 500px;
    height: 700px;
    border: 5px solid rgb(0, 0, 0);
    box-sizing: border-box;
}


#div3 {
    text-align: center;
    border: 3px solid black;
}

#pic {
    width: 100px;
    height: auto;

}

#spacing {
    margin:40px;
}