body {
    background-color: rgb(255, 255, 255);
}

.mtn {
    background-color: rgb(83, 74, 74);
}


#div1 {
    margin: 25px;
    width: 500px;
    height: 700px;
    border: 5px solid rgb(0, 0, 0);
    box-sizing: border-box;
}

#div2 {
    margin: 50px;
    width: 1750px;
    height: 780px;
    border: 5px solid rgb(0, 0, 0);
    box-sizing: border-box;
}

#div3 {
<<<<<<< HEAD
    margin: 10px;
}
=======
    text-align: center;
    border: 3px solid black;
}

>>>>>>> ee4815b8bf8b83872e3d11853480cc6bb7eca4e8
